# ScrapingContinents

This notebook gets continents and regions and matches them with our countries. The output is CountryContinents.csv, a table containing countries, country codes, continents, and regions. This file is used in the next notebook.

#### Installing and importing packages

In [1]:
pip install html-table-parser-python3

Collecting html-table-parser-python3
  Downloading https://files.pythonhosted.org/packages/43/6a/dc81d44eb8f8b089db497989cd08bccd7ab3d1ee33dbd10efcca855a35f6/html_table_parser_python3-0.2.0-py3-none-any.whl
Installing collected packages: html-table-parser-python3
Successfully installed html-table-parser-python3-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import urllib.request
from html_table_parser.parser import HTMLTableParser
import pandas as pd
import os

#### Pulling the website table and putting it into a dataframe

In [3]:
site = 'https://statisticstimes.com/geography/countries-by-continents.php' #Designating the url
contents = urllib.request.urlopen(urllib.request.Request(url=site)).read().decode('utf-8') #Pulling the site, opening the site, reading the site, and decoding the site
out=HTMLTableParser() #Setting html table parser
out.feed(contents) #Passing the contents of the site through the parser
table=pd.DataFrame(out.tables[2]) #Designating the second table as the one I want and writing those contents to a df
table=table.rename(columns=table.iloc[0]).loc[1:,['Country or Area', 'ISO-alpha3 Code', 'Continent', 'Region 1']] #Moving the first row to the header row by copying the names up then deleting first row and only keeping the Country, alpha3 code, and continent columns
table.head() #Testing to make sure it worked]

  Country or Area ISO-alpha3 Code Continent         Region 1
1     Afghanistan             AFG      Asia    Southern Asia
2   Åland Islands             ALA    Europe  Northern Europe
3         Albania             ALB    Europe  Southern Europe
4         Algeria             DZA    Africa  Northern Africa
5  American Samoa             ASM   Oceania        Polynesia

In [4]:
continents=table.to_csv("CountryContinents.csv", index=False) #Writing the csv to the location I made

In [5]:
cont=pd.read_csv("CountryContinents.csv") #reading the csv into a new variable to confirm it worked
cont.head() #viewing the import

  Country or Area ISO-alpha3 Code Continent         Region 1
0     Afghanistan             AFG      Asia    Southern Asia
1   Åland Islands             ALA    Europe  Northern Europe
2         Albania             ALB    Europe  Southern Europe
3         Algeria             DZA    Africa  Northern Africa
4  American Samoa             ASM   Oceania        Polynesia